#!/bin/sh

#JAVA_PATH=$(/usr/libexec/java_home -v 1.8)
JAVA_BIN={{ java_bin }}

$JAVA_BIN -jar  \
-Djasypt.encryptor.password={{encryptor_password}} \
-Dlogging.config=./logback-spring.xml \
./mdm-server-{{app_version}}-SNAPSHOT.jar

